<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>League Repository</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<h1>League Repository</h1><br><hr>
<a th:href="@{/league/addForm}" class="btn btn-info" role="button">Add new League</a>
<br><br><hr>
 <table class="table table-striped ">
      <thead class="table table-dark"><tr>
        <th>Title</th>
        <th>Season</th>
        <th>year</th>
      </tr>
      </thead>
      <tr th:each="league : ${list}">
      <td th:text="${league.title}"></td>
      <td th:text="${league.season}"></td>
      <td th:text="${league.year}"></td>
     </tr>
     </table>


</body>
</html>