<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>League Repository</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<h1>League Repository</h1><br><hr>
<form action="#" th:action="@{/logout}">
<input type="submit" value="log out"> 
</form>
<a th:href="@{/league/addForm}" class="btn btn-info" role="button">Add new League</a>

<form action="#" th:action="@{/searchLeague}" method="post" style="float:right">
      	   <input type="text" name="search" placeholder="search" >
      	   <button type="submit" class="btn btn-warning">search</button>
      	</form>
      	<br><br>
<hr>
 <table class="table table-striped ">
      <thead class="table table-dark"><tr>
        <th>Title</th>
        <th>Season</th>
        <th>year</th>
        <th>Action</th>
      </tr>
      </thead>
      <tr th:each="league : ${list}">
      <td th:text="${league.title}"></td>
      <td th:text="${league.season}"></td>
      <td th:text="${league.year}"></td>
      <td>
      	<form action="#" th:action="@{/league/deleteLeague}" method="post">
      	   <input type="hidden" name="id" th:value="${league.id}" >
      	   <button type="submit" class="btn btn-danger" onclick="alert('are you sure?')">delete</button>
      	</form>
      	<form action="#" th:action="@{/league/updateLeague}" method="post">
      	   <input type="hidden" name="id" th:value="${league.id}" >
      	   <button type="submit" class="btn btn-warning">update</button>
      	</form>
      </td>
     </tr>
     </table>


</body>
</html>