<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>servet-27-08-19</display-name>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/mysql</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ListLeague</display-name>
    <servlet-name>ListLeague</servlet-name>
    <servlet-class>comm.view.ListLeague</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListLeague</servlet-name>
    <url-pattern>/list_league.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddLeague</display-name>
    <servlet-name>AddLeague</servlet-name>
    <servlet-class>comm.view.AddLeague</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLeague</servlet-name>
    <url-pattern>/add_league.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Success</display-name>
    <servlet-name>Success</servlet-name>
    <servlet-class>comm.view.Success</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Success</servlet-name>
    <url-pattern>/success.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ErrorClass</display-name>
    <servlet-name>ErrorClass</servlet-name>
    <servlet-class>comm.view.ErrorClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorClass</servlet-name>
    <url-pattern>/error.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddForm</display-name>
    <servlet-name>AddForm</servlet-name>
    <servlet-class>comm.view.AddForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddForm</servlet-name>
    <url-pattern>/add_league.view</url-pattern>
  </servlet-mapping>
</web-app>