<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add user</title>

</head>
<body>
<h1>Add user</h1>
<br><br><hr>
 <form action="#" th:action="@{/add}" th:object="${user}" method="post">
   <input type="text" th:field="*{firstName}"   placeholder="first name">
   <input type="text" th:field="*{lastName}"   placeholder="last name">
   <input type="text" th:field="*{email}"   placeholder="email">
    <input type="password" th:field="*{password}" placeholder="password">
  
  <button type="submit" >Submit</button>
</form>

<hr>
<a th:href="@{/viewUsers}"  role="button">view all users</a>

</body>
</html>