<fieldset>
    <legend>Reactive Form</legend>
    <span *ngIf="signupFrm.status == 'INVALID' " style="color:red">{{validError}}</span>
    <form [formGroup]="signupFrm" (submit)="signUp()" novalidate >
        <input type="text" name="email" formControlName="email" placeholder="Email"/><sup style="color:red">*</sup><span *ngIf="signupFrm.controls['email'].errors" style="color:red">Email is required</span> <br/>
        <input type="text" name="street" formControlName="street" placeholder="Street"/><sup style="color:red">*</sup>
        <span *ngIf="signupFrm.controls['street'].errors" style="color:red">Street is required</span> <br/>
        <input type="submit" value="Sign Up"/>
    </form>
</fieldset>
